body{
    color: #40514e;
    margin: 0;
    text-align: center;

}
    
    h1{
    font-family: "Sacramento", cursive;
    color: #66bfbf;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: "Sacramento", cursive;
}

h2{

    color: #66bfbf;
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3{

    color: #66bfbf;
    font-family: "Montserrat", sans-serif;
    font-size: 1,5 rem;
    font-weight: bolder;
    padding-bottom: 10px;
}

hr {
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.btn{
    background-color: #66bfbf;
    border-radius: 8px;
    font-family: "Montserrat", sans-serif;
    color: white;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    

}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

#hero{
    position:relative;
    padding-top: 100px;
    text-align:Center;
}

.background{
    background-color: #F8FAFC;
}

img{
    overflow-clip-margin: content-box;
    overflow: clip;
}

.top-cloud{
    position:absolute;
    top: 30px;
    right: 300px;
}

.bottom-cloud{
    position:absolute;
    bottom: 300px;
    left: 300px;
}




.title-text{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:Center;
}

#resume, #showcases{
    display:flex;
    justify-content: Center;
}


.resume{
    text-align:center;
    margin-top: 100px;
    width: 400px;
}

.design{
    display:flex;
    flex-direction:column;
    text-align:center;
    width: auto;
    align-items: center;
}

.projects{
    display:flex;
    flex-direction:column;
    text-align:center;
    width: auto;
    align-items: center;
}

.touch{
    text-align: center;
    margin-bottom: 100px;

}

.resume img, .design img{
    width: 200px;
    border-radius:50%;
}

.projects img{
    width: 300px;
    border: 2.5px inset gray;
    border-radius: 5px;
}


.arcasens_img_content{
    margin-top: 60px;
    text-align: center;
}

.project_img_content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.resume p, .design p, .projects p, .touch p{
    font-weight: bolder;
    color: #9AA6B2;
    font-size: 20px;
    text-align: center;
    line-height: 1.5 ;
}

.touch p{
    width: 40%;
    margin: 40px auto 60px;

}

.design p, .projects p{
    justify-content: justify;
    text-align: justify;
}


.design_info {
    display:flex;
    justify-content: center;
    width: 80%;
}

.project_info {
    display:flex;
    justify-content: center;
    width: 50%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.project_p{
    padding: 20px;
    text-align:justify;
    width:auto;
    margin-top: 29px;
}

#footer{
    background-color: #66bfbf;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 50px 0 20px;
    text-align: center;
    font-family: "Montserrat", sans-serif ;
}

.p_footer{
    color:white;
    margin: 30px;
}

a.a_footer{
    color: rgb(17, 153, 158);
    font-family: Montserrat, sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #eaf6f6;
  }
@media (max-width: 1000px){
    .design_info{
        display:flex;
        flex-direction:column;
        justify-content:center;
        text-align:justify;

    }

    .project_info {
        
        flex-direction:column;
        justify-content: center;
        width: 50%; 
    }
    .project_p{
        display:flex;
        justify-content: center;
        margin: 0px;
        padding-top: 0px;
    
    }
    .project_p {
        width: 300px;
    
    }

    .project_img_content img, img, .myself{
        width:250px;

    }
}

.arcasens{
    padding:20px;
    text-align:center;
}

